!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title KnowISP
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %section.hero.is-primary.is-bold
      .hero-head
        %nav.navbar
          .container
            .navbar-brand
              %h2.title
                /= link_to 'KnowISP', root_path, class: "navbar-item"
        #navbarMenuHeroA.navbar-menu
          .navbar
            %h2.title
              = link_to 'Home', root_path, class: "navbar-item"
            %h1.title
              = link_to "Create New ISP", new_provider_path, class:"navbar-item"
          .navbar
            %h1.title
              = link_to "Login", new_provider_path, class:"navbar-item"
    %section.hero.is-primary.is-bold.hero-footer
      .container.has-text-centered
        %h1.title
          = yield :page_title
    = yield